:root {
    --ff-heading: "Bellefair", serif;
    --ff-Berlow: "Barlow", sans-serif;
    --ff-Berlow-condensed: "Barlow Condensed", sans-serif;
    --fs-heading-1: 9.375rem;
    --fs-heading-2: 6.25rem;
    --fs-heading-3: 3.5rem;
    --fs-heading-4: 2rem;
    --fs-heading-5: 1.75rem;
    --fs-letter-spacing: 0.297rem;
    --fs-letter-spacing-2: 0.147rem;
    --fs-nav-letter-spacing: 0.169rem;
    --fs-subheading-1: 1.75rem;
    --fs-subheading-2: 0.875rem;
    --fs-nav-text: 1rem;
    --fs-body: 1.125rem;
    --primary-color-dark: #0B0D17;
    --primary-color-light: #D0D6F9;
    --primary-color-white: #FFFF;
}

body {
    background-color: #0B0D17;
}

.main {
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--primary-color-white);
    overflow: hidden;
}

.logo img {
    width: 2.5rem;
    margin-left: 4em;
}
menu {
    width: 50%;
    backdrop-filter: blur(6px);
    background-color: #ffffff0f;
}
header {
    padding-top: 2rem;
}
.nav {
    height: 100%;
}
.nav li {
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.nav .active {
    border-bottom: 2px solid var(--primary-color-white);
}
.nav-link {
    display: block;
    padding: 2rem 0;
}

.hero {
    width: 80%;
    margin: 0 auto;
    color: white;
}
#hero-inner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 70px);
}

#hero-left {
    grid-area: 3 / 2 / 4 /5;
}

#hero-right {
    grid-area: 5/7/7/8;
}

.explore-btn {
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
    color: black;
    background-color: white;
    text-transform: uppercase;

}

.explore-btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.burger-menu {
    display: none;
}

/* -------------------Destination code------------------- */

.choose-destination-text p {
    margin-left: 5em;
}

.choose-destination-text p span {
    margin-inline-end: 1rem;
}

.des-hero {
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    margin-top: 3em;
}

.des-hero-left {
    display: grid;
    align-content: space-evenly;
}

.des-hero-left img {
    width: 18rem;
    aspect-ratio: 1;
}

.secondary-nav {
    display: flex;
    gap: 1rem;
}

.des-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.des-btn:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.544);
}

.underline-indicator {
    border-bottom: 2px solid white;
}

.underline-indicator:hover {
    border-bottom: 2px solid white;
}

.des-text-aria h1 {
    font-size: clamp(4.5rem, 8vw, 10rem);
    font-weight: 400;
    text-transform: uppercase;
}

.des-text-aria {
    border-bottom: 1px solid #ffffff8f;
    padding-bottom: 4em;
    width: clamp(16rem, 23vw, 32rem);
}

.des-text-aria p {
    font-size: 0.8em;
    text-align: left;
    opacity: 0.8;
    max-width: 35em;
}

.des-info-aria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.font-reset-h {
    font-size: clamp(1.3em, 5vw, 1.4em);
}

.font-reset-p {
    font-size: clamp(0.9em, 4vw, 1em);
}
/* ------------------------crew section------------------------ */
.crw-main {
    max-width: 1280px;
    margin: 0 auto;
}
.crw-left,
.crw-right {
    width: 50%;
}
.crw-right img {
    width: 30vw;
}
.crw-text-aria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 40px);
}
.crw-text-aria p:first-child {
    grid-column: 2 / 2;
}
.crw-text-aria p:nth-child(2) {
    grid-column: 2/2;
    min-width: max-content;
}

.crw-text-aria p:nth-child(3) {
    grid-row: 4/7;
    line-height: 1.5rem;
    grid-column: 2/4;
}
.crw-text-aria .dot-indicator {
    grid-row: 8;
    grid-column: 2;
}
.dot {
    opacity: 0.4;
}

/* ------------------------------Technology Section------------------------------ */
.tech-inner {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 50px);

}
.section-01 {
    grid-area: 3/2/7/2;
}
.section-02 {
    grid-area: 3/3/8/6;
}
.section-03 {
    grid-area: 2/7/8/9;
}
.section-01 button {
    background: transparent;
    color: white;
    padding: 1.2rem 1.5rem;
    border: 1.5px solid #ffffff8c;
    border-radius: 14rem;
    cursor: pointer;
    &:hover {
        border: 1.5px solid #ffff;
    }
}
.section-01 nav {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
}
.section-01 .active-bg {
    color: #0B0D17;
    background: white;

}

@media (hover: hover) {
    .explore-btn:hover::after {
        opacity: 1;
        transform: scale(1.5);
    }
    .nav li:hover {
        border-bottom: 2px solid #ffffff81;
    }
    .nav .active:hover {
        border-bottom: 2px solid var(--primary-color-white);
    } 
}

@media (max-width: 1024px) {
    #hero-left {
        text-align: center;
        grid-area: 2 / 4 / 6 /4;
        margin: auto;
    }
    
    #hero-right {
        margin: auto;
        grid-area: 7 / 4 / 8 / 4;
    }
    .nav li span {
        display: none;
    }
    /* .nav .active {
        border-bottom: 2px solid transparent;
    }  */
    .des-hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .des-hero-right {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .des-hero-left img {
        width: 15rem;
    }
    .section-01 {
        grid-area: 3/2/7/2;
    }
    .section-02 {
        grid-area: 3/3/8/6;
    }
    .section-03 {
        grid-area: 2/6/8/9;
    }
}

@media (max-width: 768px) {
    menu {
        position: fixed;
        inset: 0 0 0 50%;
        transition: 0.5s ease-in;
    }
    .nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .nav .active {
        border-right: 4px solid var(--primary-color-white);
        border-bottom: 4px solid transparent;
    }
    
    .menu-hidden {
        transform: translatex(100%);
    }
    .menu-visible {
        transform: translatex(0);
    }
    .burger-menu {
        display: block;
    }
    .burger-menu img {
        position: absolute;
        z-index: 999;
        top: 2rem;
        right: 2rem;
    }
    #hero-left {
        grid-area: 2/1/4/8;
    }
    #hero-right {
        grid-area: 6 / 4 / 8 / 4;
    }
    #hero-left .p1 {
        font-size: 1.2rem;
    }
    #hero-left .p2 {
        font-size: 5rem;
    }
    .des-hero-left img {
        width: 9rem;
        aspect-ratio: 1;
    }
    .choose-destination-text p {
        margin-left: 0;
        margin-top: 1rem;
        text-align: center;
    }
    .des-text-aria {
        padding-bottom: 1em;
        text-align: center;
    }
    .des-info-aria {
        flex-direction: column;
        gap: 1rem;
    }
    .des-info-aria .right,
    .des-info-aria .left {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
    }
    .des-hero {
        gap: 1em;
    }
    
    .tech-inner {
        margin-top: 1rem;
        grid-template-rows: repeat(12, 50px);
    }

    .section-03 {
        grid-area: 1/1/7/9;
    }
    .section-01 {
        grid-area: 8/4/8/5;
    }
    .section-01 nav {
        flex-direction: row;
    }
    .section-02 {
        text-align: center;
        grid-area: 10/2/12/8;
    }
}